PORT=5001
MONGO_URI=mongodb://localhost:27017/hospital_ecosystem
JWT_SECRET=your_jwt_secret
OPENAI_API_KEY=your_key_here

# Environment
# Set to "development" for local debugging
# Set to "production" in deployment (Render will override this)
NODE_ENV=development
